<html>

<br><br><br>
<div class="row">
  <div class="col-9">

  </div>
  <div class="col-3">
    <button class="btn btn-info form-control" (click)="openModal(modalContent1)">Nuevo</button>
  </div>

  <div class="col-12">
    <div class="table-responsive">
      <ngx-datatable class="bootstrap"
                     [rows]="source.rows"
                     [columnMode]="'force'"
                     [headerHeight]="40" [footerHeight]="50"
                     [rowHeight]="'auto'"
                     [limit]="10">
        <ngx-datatable-column name="Nombre" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="Apellido" prop="lastname"></ngx-datatable-column>
        <ngx-datatable-column name="Direccion" prop="direccion"></ngx-datatable-column>
        <ngx-datatable-column name="edad" prop="age"></ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-outline-warning" (click)="actualizarDatos(row,modalContentUpdate)">
              <i class="material-icons">create</i>
            </button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-outline-danger" (click)="eliminarDatos(row)">
              <i class="material-icons">delete_outline</i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

</div>
</html>

<ng-template #modalContent1 let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modal.close('Save click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioPersona" #formulario>

      Nombre: <input class="form-control" formControlName="name" type="text"><br/>
      Apellido <input class="form-control" formControlName="lastname" type="text"/><br>
      Direccion <input class="form-control" formControlName="direccion" type="text"/><br>
      Edad <input class="form-control" formControlName="age" type="number"/><br/>
    </form>
  </div>
  <div class="modal-footer">
    <input type="button" class="form-control btn btn-success" (click)="creando(formularioPersona)" value="Guardar">
  </div>
</ng-template>

<ng-template #modalContentUpdate let-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modal.close('Save click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioPersona" #formulario>

      Nombre: <input class="form-control" formControlName="name" type="text"><br/>
      Apellido <input class="form-control" formControlName="lastname" type="text"/><br>
      Direccion <input class="form-control" formControlName="direccion" type="text"/><br>
      Edad <input class="form-control" formControlName="age" type="number"/><br/>

    </form>
  </div>
  <div class="modal-footer">
    <input type="button" class="form-control btn btn-success" (click)="actualizar(formularioPersona)" value="Guardar">
  </div>
</ng-template>




